body {
    height: 100vh;
    margin: 0;
    padding: 0px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: rgb(0, 0, 0);
    color: white;
}

.header {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 226, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.game {
    background-color: rgb(0, 43, 76);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 5px;
    border-radius: 40px;
    padding: 50px;
}



.results,
.info
{
    display: flex;
    flex-basis: 50px;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
}

.score {
    color: rgb(176, 171, 254);
    font-size: 20px;
    display: flex;
    gap: 200px;
    font-weight: bold;
    justify-content: space-evenly;
    flex: 2;
}

.player, .computer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.computerSelection, .playerSelection {
    font-size: 35px;
}

.game .buttons {
    display: flex;
    flex: 4;
    justify-content: space-evenly;
    gap: 40px;
    padding: 15px;
}

.btn {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    font-size: 100px;
}



.footer {
    font-size: 16px;
    font-weight: 900;
    color: rgb(255, 123, 123);
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
